body {
    background-color: lightsteelblue;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

footer {
    margin-top: 320px;
    padding: 20px;
    text-align: center;
}

button {
    border: none;
    padding: 10px;
    margin: 10px;
}

.dark-theme {
    background-color: darkblue;
    color: white;
}

.light-theme {
    box-shadow: 2px 2px 2px;
    border: 4px outset white;
    background-color: whitesmoke;
    color: darkblue;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#switchButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}