.imgNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.homePage {
    text-align: center;
    color: rgb(10, 241, 10);
}

.footer {
    text-align: center;
    color: rgb(10, 241, 10);
}

header {
    text-align: center;
    color: white
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navBtn {
    background-color: blue;
    border-radius: 5px;
}

body {
    background-image: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTgwOTN8MHwxfHNlYXJjaHw3fHxzcGFjZXxlbnwwfHx8fDE2MTczNzI1NzU&ixlib=rb-1.2.1&q=80&w=1080");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}